<div id="contact" data-sect="content">
	
	<div class="contact-header-con">
		<p class="contact-me-title fs-primary-heading fw-bold text-accent-clr">Contact Me</p>
		<p class="contact-me-headline text-accent-clr">Get In Touch</p>
	</div>

	<div class="contact-form-con">
		<div class="contact-form-content-con">
			<p>Thank you for visiting my website, I appreciate it. And if you want to work with me, feel free to send an email.</p>
		</div>
		<div class="contact-form-content-btn">
			<a class="contact-me-link" href="https://mail.google.com/mail/?view=cm&fs=1&to=lemuel.k.costuna.so@gmail.com" target="_blank">Message Me</a>
		</div>
	</div>

</div>

