.contact-header-con{
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.contact-form-con{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.contact-form-con div{
	position: relative;
	margin-top: 20px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contact-me-title, .contact-me-headline{
	text-align: center;
}

.contact-form-content-con{
	margin-bottom: 10px
}

.contact-me-link{
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid #550a8a;
	color: #550a8a;
	transition: background-color .2s;
}

.contact-me-link:hover{
	color: white;
	background-color: #550a8a;
}
