.hm-heading-con{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	margin-bottom: 10px;
}

.hm-heading{
	position: relative;
	display: flex;
	margin-top: 10px;
}

.hm-content-con{
	margin-bottom: 50px;
	display: flex;
	flex-direction: column;
}

.hm-heading img{
	position: relative;
	top: -5px;
	margin-left: 10px;
	width: 30px;
	height: 30px;
}

.hm-content-title{
	margin-bottom: 10px
}

.hm-contact-con{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.contactme-btn{
	position: relative;
	padding: 10px 20px;
	color: white;
	border-radius: 20px;
}

.paperplane{
	position: relative;
	display: inline;
	height: 20px;
	width: 20px;
	transform: rotate(90deg);
	top: 5px;
	margin-left: 5px;
}

.hm-cover-img-con{
	width: 100%;
	height: 100%;
	display: flex;
	margin-top: 30px;
}

@media(max-width: 575px){
	.hm-heading-con, .hm-content-con, .hm-contact-con, .hm-cover-img-con{
		justify-content: center;
		align-items: center;
	}	

	.hm-content-con{
		width: 100%;
		text-align: center;
	}

	.hm-cover-img{
		width: 400px;
		height: 300px;
		display: none;
	}

}

@media(min-width: 576px){
	.hm-heading-con, .hm-content-con, .hm-contact-con, .hm-cover-img-con{
		justify-content: center;
		align-items: center;
	}	

	.hm-content-con{
		width: 100%;
		text-align: center;
	}

	.hm-cover-img{
		display: inline;
		width: 500px;
		height: 300px;
	}

}

@media(min-width: 900px){
	.hm-heading-con, .hm-content-con, .hm-contact-con{
		justify-content: start;
		align-items: flex-start;
	}	

	.hm-cover-img-con{
		justify-content: end;
		align-items: flex-end;
	}

	.hm-cover-img{
		width: 600px;
		height: 400px;
	}

	.hm-content-con{
		width: 80%;
		text-align: left;
	}
}

@media(min-width: 1200px){
	
}