<div id="home" data-sect="content">
	<div class="hm-heading-con">
		<p class="hm-subtext">Hi, I am</p>
		<p class="hm-heading fs-super-heading fw-bold text-accent-clr">Lemuel k So <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/facebook/92/waving-hand-sign_1f44b.png"></p>
	</div>

	<div class="hm-content-con">
		<p class="hm-content-title fw-semi-bold">{{aboutme.title}}</p>
		<p class="hm-content-headline">{{aboutme.headline}}</p>
	</div>

	<div class="hm-contact-con">
		<div>
			<a href="#contact" class="contactme-btn bg-accent-clr">Contact Me <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" class="paperplane"><path stroke-linecap="round" stroke-linejoin="round" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path></svg></a>
		</div>
		<app-soc-med></app-soc-med>
	</div>

	<div class="hm-cover-img-con">
		
		<a href="https://lovepik.com/images/png-boy.html" target="_blank"><img class="hm-cover-img" alt="Boy Png vectors by Lovepik.com" src="assets/img/flat-23.png" /></a>
	</div>
</div>
